<!DOCTYPE html>
<html>
  <head>
    <title>PokemonGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= button_to "Home", root_path, method: :get %>
      <%= button_to "About", about_path, method: :get %>
      <%= button_to "Trainers", trainers_path, method: :get %>
      <%= button_to "Pokedex", pokedex_index_path, method: :get %>
      <% if current_trainer %>
      <p>Signed in as: <%= current_trainer.name %></p>
      <% end %>
      <% if session[:trainer_id] %>
        <%= button_to "Logout", logout_path, method: :delete %>
      <% else  %>
        <%= button_to "Sign Up", new_trainer_path, method: :get %>
        <%= button_to "Login", login_path, method: :get %>
      <% end  %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
